<div>
    <mat-card class="example-card" appearance="outlined" style="margin-top: 10px;">
        <h4 style="text-align: center; margin-top: 10px;">Thompson Birds</h4>
        <mat-card-content>
            <mat-card appearance="outlined" style="margin: 10px;">
                <mat-card-content>
                    <button matButton class="button-19" style="margin-bottom: 20px;" (click)="onButtonClick('record')">Analyze</button>
                    <button matButton class="button-19" style="margin-bottom: 20px;" (click)="onButtonClick('manage')">Manage</button>
                    <button matButton class="button-19" (click)="onButtonClick('record')">Settings</button>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>